<!DOCTYPE html>
<html lang="en">
  {{ template "head" "Login"}}
  <body>
	{{ template "navbar" -}}

	{{block "login" . -}}
	<title>Login</title>
	<div id="main" class="container auth-container">

	  {{block "login-message" .flash -}}
	  <div id="flash" class="flash-message {{.type}}">{{.message}}</div>
	  {{end -}}
	  
	  <div id="login-panel" class="auth-panel active">
		<h2 class="auth-title">Login</h2>

		<form
		  hx-post="/login"
		  hx-boost="true"
		  hx-target="#flash"
		  hx-swap="outerHTML">
		  <label for="login-username">Username</label>
		  <input class="u-full-width" type="text" id="login-username" name="username" required>

		  <label for="login-password">Password</label>
		  <input class="u-full-width" type="password" id="login-password" name="password" required>

		  <button class="button-primary u-full-width" type="submit">Log In</button>
		</form>

		<p class="auth-switch">
		  Don’t have an account?
		  <a href="#" id="show-register">Register here</a>
		</p>
	  </div>

	  <div id="register-panel" class="auth-panel">
		<h2 class="auth-title">Register</h2>

		<form
		  hx-post="/register"
		  hx-boost="true"
		  hx-target="#flash"
		  hx-swap="outerHTML">
		  <label for="reg-username">Choose a Username</label>
		  <input class="u-full-width" type="text" id="reg-username" name="username" required>

		  <label for="reg-password">Password</label>
		  <input class="u-full-width" type="password" id="reg-password" name="password" required>

		  <label for="reg-confirm">Confirm Password</label>
		  <input class="u-full-width" type="password" id="reg-confirm" name="confirm_password" required>

		  <button class="button-primary u-full-width" type="submit">Register</button>
		</form>

		<p class="auth-switch">
		  Already have an account?
		  <a href="#" id="show-login">Log in here</a>
		</p>
	  </div>
	</div>
	{{ end -}}
  </body>
</html>
