{{- /* This is the main template, including the headers necessary for style all pages and the editor in problem.html */ -}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Challenges</title>
  <link rel="stylesheet" href="/assets/custom.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.47.0/min/vs/loader.js"></script>
  <script src="/assets/editor.js"></script>
</head>
<body>
  {{- template "navbar" -}}

  <div id="main" class="container">
	{{- block "problemTable" .}}
	<h1 style="text-align: center">All Challenges</h1>
	
	{{- if .Challenges}}
	{{ template "challengeList" .}}
	{{ else }}
    <div id="challenge-list" hx-get="/problemlist?page=1" hx-trigger="load" hx-swap="innerHTML"></div>
	{{ end }}
	
	{{- end }}
  </div>
</body>
</html>

{{- /* This is the challengelist template that actually shows challenges, and loads new ones  */ -}}

{{define "challengeList"}}
  <div class="challengeList">
	<ul hx-boost="true" hx-target="#main" hx-swap="innerHTML show:#navbar:top" style="list-style: none; padding: 0;">
	  {{- range .Challenges }}
	  <li style="margin-bottom: 20px;">
		<a href="/problem/{{ .Challenge.ID }}" style="text-decoration: none; color: inherit; display: block; padding: 10px; border: 1px solid transparent; border-radius: 4px; transition: background-color 0.3s;">
          {{- /* Add a container for the title and difficulty */ -}}
          <div class="challenge-info">
    		  <h5 style="margin: 0;"><b>{{ .Challenge.Title }}</b></h5>
    		  <p style="margin: 5px 0;">
    			{{- if eq .Challenge.Difficulty 1 }}
    			<span class="difficulty easy">Easy</span>
    			{{ else if eq .Challenge.Difficulty 2 }}
    			<span class="difficulty medium">Medium</span>
    			{{ else if eq .Challenge.Difficulty 3 }}
    			<span class="difficulty hard">Hard</span>
    			{{ else }}
    			<span class="difficulty">Not tagged</span>
    			{{- end }}
    		  </p>
          </div>
          {{- /* Move the test count inside the anchor tag as well, but in a separate container */ -}}
          <div class="test-count">
            <p>{{.TestCount}} tests</p>
          </div>
		</a>
	  </li>
	  {{- else }}
	  <li>No challenges available.</li>
	  {{- end }}
	</ul>
  </div>

  {{- if .HasNext }}
  <div hx-get="/problemlist?page={{ .NextPage }}" 
	   hx-trigger="revealed" 
	   hx-swap="outerHTML"
	   style="padding: 10px; text-align: center; font-style: italic;">
	Loading more challenges…
  </div>
  {{- end }}
{{ end }}
