package ui

templ Base(title string, user UserData) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			if len(title) > 0 {
				<title>{ title }</title>
			}
			<link rel="stylesheet" href="/assets/output.css"/>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
			<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.47.0/min/vs/loader.js"></script>
			<script src="/assets/custom.js"></script>
		</head>
		<body class="bg-base-50">
			@Navbar(user)
			{ children... }
		</body>
	</html>
}
