{{define "navbar"}}<!-- Top NavBar -->
<div id="navbar" class="navbar" hx-boost="true"  hx-swap="outerHTML" hx-target="#main">
  <div>
	{{if .IsAdmin -}}
    <a href="/admin#"><b>Dashboard</b></a>
	{{- end}}
    <a href="/#">Problems</a>
    <a href="/settings#">Settings</a>
    {{- if .LoggedIn -}}
    <a href="/logout#">Logout</a>
    {{- end }}
  </div>
  <div style="display: flex; align-items: center">
    {{- if .LoggedIn }}
    {{/* <img src="{{ .User.Avatar }}" alt="Avatar" class="avatar"> */}}
	<a title="View your profile" href="/user/{{.Username}}">{{- .Username -}}</a>
    {{ else }}
    <a title="Login or register"
	   href="/login">Login</a>
	<p style="font-weight: bold; font-style: italic; color: #888">Anonymous</p>
    {{- end }}
  </div>
</div>
{{end}}
{{define "head"}}
<head>
  <meta charset="UTF-8">
  {{if .}}<title>{{.}}</title>{{end}}
  <link rel="stylesheet" href="/assets/skeleton.css">
  <link rel="stylesheet" href="/assets/custom.css">
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.47.0/min/vs/loader.js"></script>
  <script src="/assets/custom.js"></script>
</head>
{{end}}
